@using Core.Utilities.Localization
@using Core.Utilities.Messages
@using Entities.Dtos.AppUserTypes
@model AppUserTypeAddViewModel
@inject ILocalizationService _localizationService
@{
    ViewData["Title"] = "Add";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">@_localizationService[ResultCodes.PAGETITLE_AppUserTypeAdd]</h3>
                    </div>

                    <form asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            @if (ViewBag.Errors != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h5><i class="icon fas fa-ban"></i> @_localizationService[ResultCodes.ERROR_Error]</h5>
                                            <ul>
                                                @foreach (var item in ViewBag.Errors)
                                                {
                                                    <li>@item</li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>@_localizationService[ResultCodes.LABEL_AppUserTypeName]</label>
                                        <input asp-for="UserTypeName" class="form-control" />
                                        <span asp-validation-for="UserTypeName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" value="Create" class="btn btn-primary">@_localizationService[ResultCodes.BUTTON_Save]</button>
                            <a asp-action="List" class="btn btn-info">@_localizationService[ResultCodes.BUTTON_AppUserList]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




