@using Core.Utilities.Messages
@model List<Entities.Dtos.AppUser.AppUserDto>
@inject Core.Utilities.Localization.ILocalizationService _localizationService
<div class="col-12">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">@_localizationService[ResultCodes.LABEL_AppUserList]</h3>
            <div class="card-tools">
                <button type="submit" class="btn btn-default btn-xs float-right">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        @*<th>@_localizationService[ResultCodes.LABEL_ProfileImageUrl]</th>*@
                        <th>@_localizationService[ResultCodes.LABEL_UserName]</th>
                        <th>@_localizationService[ResultCodes.LABEL_FirstName]</th>
                        <th>@_localizationService[ResultCodes.LABEL_LastName]</th>
                        <th>@_localizationService[ResultCodes.LABEL_AppUserTypeName]</th>
                        <th>@_localizationService[ResultCodes.LABEL_Operations]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>@item.ProfileImageUrl</td>*@
                            <td>@item.UserName</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.AppUserTypeName</td>
                            <td>
                                <a class="btn btn-secondary btn-xs" href="#">Düzenle</a>
                                <a class="btn btn-secondary btn-xs" href="#">Detay</a>
                                <a class="btn btn-secondary btn-xs" href="#">Sil</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>