@using Core.Utilities.Localization
@using Core.Utilities.Messages
@model WebAPIWithCoreMvc.Models.PageAddViewModel
@inject ILocalizationService _localizationService

@{
    ViewData["Title"] = "Add";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Sayfa Ekle</h3>
                    </div>
                    <form asp-action="Add" method="post">
                        <div class="card-body">
                            @if (ViewBag.Errors != null)
                            {
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h5><i class="icon fas fa-ban"></i> @_localizationService[ResultCodes.ERROR_Error]</h5>
                                            <ul>
                                                @foreach (var item in ViewBag.Errors)
                                                {
                                                    <li>@item</li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Dil</label>
                                        <select asp-for="LanguageID" class="form-control" asp-items="@ViewBag.Languages" id="LanguageID">
                                            <option value="">@_localizationService[ResultCodes.LABEL_Choose]</option>
                                        </select>
                                        <span asp-validation-for="LanguageID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">

                                        <label>Sayfa Adı</label>
                                        <input asp-for="PageName" class="form-control" />
                                        <span asp-validation-for="PageName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="PageURL" class="control-label">Sayfa URL</label>
                                        <input asp-for="PageURL" class="form-control" />
                                        <span asp-validation-for="PageURL" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="PageSeoURL" class="control-label">Sayfa SEO URL</label>
                                        <input asp-for="PageSeoURL" class="form-control" />
                                        <span asp-validation-for="PageSeoURL" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="ParentPageID" class="control-label">Alt Kategori</label>
                                        <select asp-for="ParentPageID" class="form-control" asp-items="@ViewBag.ParentPages" id="ParentPageID">
                                            <option value="">@_localizationService[ResultCodes.LABEL_Choose]</option>
                                        </select>
                                        <span asp-validation-for="ParentPageID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="PageTypeID" class="control-label">Sayfa Tipi</label>
                                        <select asp-for="PageTypeID" class="form-control" asp-items="@ViewBag.PageTypes" id="PageTypeID">
                                            <option value="">@_localizationService[ResultCodes.LABEL_Choose]</option>
                                        </select>
                                        <span asp-validation-for="PageTypeID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="DisplayOrder" class="control-label">Sıra No</label>
                                        <input asp-for="DisplayOrder" class="form-control" value="1"/>
                                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MetaTitle" class="control-label">Meta Title (SEO) </label>
                                        <input asp-for="MetaTitle" class="form-control" />
                                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MetaKeywords" class="control-label">Meta Keywords (SEO)</label>
                                        <input asp-for="MetaKeywords" class="form-control" />
                                        <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="MetaDescription" class="control-label"> Meta Description (SEO)</label>
                                        <input asp-for="MetaDescription" class="form-control" />
                                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="IsActive" /> Aktif Mi?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" value="Create" class="btn btn-primary">@_localizationService[ResultCodes.BUTTON_Save]</button>
                            <a asp-action="List" class="btn btn-info">Sayfa Listesi</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
