@model LeftMenuViewModel
@using System.Security.Claims
@using Core.Utilities.Messages
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/lib/AdminLTE-3.2.0-rc/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">E-Ticaret @DateTime.Now.Year</span>
    </a>
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/lib/AdminLTE-3.2.0-rc/dist/img/user-160x160.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Ali Yasin DOĞAN</a>
            </div>
        </div>
        <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    @foreach (var mainPageItem in Model.MainPage)
                    {
                        <li class="nav-item">
                            <a href="@mainPageItem.PageURL" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                                <p>
                                    @mainPageItem.PageName
                                </p>
                                @if (Model.ParentPage.Any(x => x.ParentPageID == mainPageItem.Id))
                                {
                                    <i class="fas fa-angle-left right"></i>
                                }
                            </a>
                            @foreach (var subCategoryItem in Model.ParentPage)
                            {
                                @if (subCategoryItem.ParentPageID == mainPageItem.Id)
                                {
                                    <ul class="nav nav-treeview" style="display: none;">
                                        <li class="nav-item">
                                            <a href="@subCategoryItem.PageURL" class="nav-link">
                                                <i class="fas fa-angle-right nav-icon"></i>
                                                <p>  @subCategoryItem.PageName</p>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    }
                </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>